body {
  background-color: #d3e0ea;
  margin: 10% auto;
  position: relative;
}
body h1 {
  font-size: 3rem;
  color: #1F0FF2;
}
#login {
  margin-top: 8%;
}
.login {
  width:75%;
  text-align: center;
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  background-color: white;
}
.form-control {
  margin-bottom: 10px;
}
.container .login {
  padding: 5%;
}
.col-6 .p {
  text-align: center;
  margin-top: 1%;
}
